<project>
    <actions/>
    <description>
Job para excução dos testes funcionais de interface do projeto QAMantis
    </description>
    <keepDependencies>false</keepDependencies>
    <properties>
        <jenkins.model.BuildDiscarderProperty>
            <strategy class="hudson.tasks.LogRotator">
                <daysToKeep>30</daysToKeep>
                <numToKeep>30</numToKeep>
                <artifactDaysToKeep>-1</artifactDaysToKeep>
                <artifactNumToKeep>-1</artifactNumToKeep>
            </strategy>
        </jenkins.model.BuildDiscarderProperty>
    </properties>
    <scm class="hudson.plugins.git.GitSCM" plugin="git@4.1.1">
        <configVersion>2</configVersion>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <url>https://github.com/victorguerra1406/qamantis.git</url>
                <credentialsId>GIT_CREDENTIALS</credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>*/master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <submoduleCfg class="list"/>
        <extensions/>
    </scm>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers>
        <hudson.triggers.TimerTrigger>
            <spec>H 22 * * *</spec>
        </hudson.triggers.TimerTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.BatchFile>
            <command>pip install -r requirements.txt</command>
        </hudson.tasks.BatchFile>
        <hudson.tasks.BatchFile>
            <command>python qamantis.py</command>
        </hudson.tasks.BatchFile>
    </builders>
    <publishers>
        <ru.yandex.qatools.allure.jenkins.AllureReportPublisher plugin="allure-jenkins-plugin@2.28.1">
            <configPath/>
            <jdk/>
            <properties/>
            <results>
                <ru.yandex.qatools.allure.jenkins.config.ResultsConfig>
                    <path>test_output</path>
                </ru.yandex.qatools.allure.jenkins.config.ResultsConfig>
            </results>
            <reportBuildPolicy>ALWAYS</reportBuildPolicy>
            <includeProperties>false</includeProperties>
            <disabled>false</disabled>
            <report>allure-report</report>
        </ru.yandex.qatools.allure.jenkins.AllureReportPublisher>
    </publishers>
    <buildWrappers>
        <hudson.plugins.build__timeout.BuildTimeoutWrapper plugin="build-timeout@1.19">
            <strategy class="hudson.plugins.build_timeout.impl.AbsoluteTimeOutStrategy">
                <timeoutMinutes>300</timeoutMinutes>
            </strategy>
            <operationList>
                <hudson.plugins.build__timeout.operations.AbortOperation/>
            </operationList>
        </hudson.plugins.build__timeout.BuildTimeoutWrapper>
        <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.10"/>
    </buildWrappers>
</project>